html, body{
    margin: 0px;
    padding: 0px;
}

.active-nav{
    background: #1D4D7A;
}

.address{
    border: 2px solid #DDDDDD;
    padding: 5px;
    margin: 10px;
    height: 125px;
    width: 200px;
    float: left;
}

.address:hover{
    border: 2px solid yellow;
}

.banner{
    background-color: #999797;
    background: -webkit-linear-gradient(#E0DEDE, #999797, #E0DEDE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E0DEDE, #999797, #E0DEDE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E0DEDE, #999797, #E0DEDE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#E0DEDE, #999797, #E0DEDE) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#bannerImgDiv{
    cursor: pointer;
    padding-top: 5px;
}

#bannerCalDiv{
    position: absolute;
    right: 50px;
    top: 10px;
}

#bannerFbDiv{
    position: absolute;
    right: 10px;
    top: 10px;
}

#bannerTxtDiv {
    color: #071B53;
    font-family: verdana;
    font-size: 2em;
    font-weight: bold;
    padding-top: 3px;
    text-align: center;
}

.dirsBlock{
    border: 2px solid #DDDDDD;
    float: left;
    padding: 8px;
    margin: 10px;
    height: 170px;
    width: 320px;
}

.dirsBlock:hover{
    border: 2px solid yellow;
    float: left;
    padding: 8px;
    margin: 10px;
    height: 170px;
    width: 320px;
}

.dirsBlock a:hover{
    color: yellow;
}

.bold{
    font-weight:bold;
}

.bulletTitle{
    font-weight:bold;
    padding-top: 5px;
}

.calendar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

#cougarDiv{
    width: 100%;
    overflow-y: hidden;
}

#cougarImg{
    float:left;
    width: 300px;
    margin-right: 10px;
}

#cougarGrowl {}

#cougarTxt {
    float: left;
    line-height: 1.3em;
    margin: 10px 0;
}

#crowdDiv{
    background-image:url('../images/crowd.png');
    background-repeat:repeat-x;
    width: 100%;
    height: 45px;
}

.fieldsetDiv{
    padding-bottom: 8px;
}

.fieldsetDiv fieldset{
    border: 2px #444444 solid;
}

#footballBottomDiv{
    vertical-align:top;
    padding-left:22px;
    padding-bottom:10px;
    height: 40px;
}

#footballTopDiv{
    vertical-align:bottom;
    padding-top:10px;
    padding-left:22px;
    height: 35px;
}

.full-row{
    float:left; 
    width:100%; 
    clear:both;
}

.googleMapDirs{
    margin-left: 10px;
}

.googleMapIcon{
    background-image: url('../images/google_maps_icon.png');
    background-repeat:no-repeat;
}

.googleMapIcon a {
    margin-left:  20px;
}

.halfs-left{
    float:left; 
    width: 50%; 
    min-width: 300px; 
    margin-right: 8px;
}

.halfs-right{
    float:left; 
    width: 49%; 
    min-width: 300px; 
}

.highlight{
    color:yellow;
    font-weight: bold;
}

.imgDiv {
    margin: 5px 0;
    padding: 10px 0 6px;
}

.important a:link, .important  a:visited, .important  a:active{
    color:yellow;
}

.important a:hover{
    color:#00B9FC; 
}

.important{
    color:yellow;
}

.important:hover{
    color:#00B9FC;
}

.info {
    color: #ffffff;
}

legend {
    padding: 2px 5px;
}

#mainContent{
    background-color: #1B1B1B;
    min-width: 650px;
    padding: 10px;
    overflow: auto;
}

.noShow{
    visibility:hidden;
}

.orderedList{
    margin-top:2px; 
    margin-bottom:0;
    padding-left:25px;
}

.unorderedList{
    margin-top:2px;
    margin-bottom:10px;   
    padding-left:25px;
}

#south-panel{
    height: 25px;
    background-color: #999797;
    background: -webkit-linear-gradient(#E0DEDE, #999797, #E0DEDE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E0DEDE, #999797, #E0DEDE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E0DEDE, #999797, #E0DEDE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#E0DEDE, #999797, #E0DEDE) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ui-menu-item a:hover{
    color:yellow;
}

ul {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
}

#west-panel{
    /*overflow-x:visible;
    overflow-y:auto;*/
}

/* Overrides */
#toolbar {
    padding: 6px 4px 2px 4px;
    display: inline-block;
    width:100%;
}

#west-panel-menu{
    padding: 0 10px;
}

.ui-menu { 
    width: 145px; 
}

.ui-menu-item .ui-menu {
    /*width: 150px;*/
}

.ui-menu .ui-menu {
    margin-top: -3px;
    position: absolute;
    width: 100%;
    padding: 0 10px;
}

/*
.ui-menu .ui-menu-item a {
  display: block;
  font-weight: normal;
  line-height: 1.5;
  min-height: 0;
  padding: 2px 0.4em;
  text-decoration: none;
  white-space: nowrap;
}
*/

.ui-menu .ui-menu-item a {
    white-space: nowrap;
}

.ui-menu .ui-menu-item {
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    margin: 0;
    padding: 0.1em 0;
    width: 100%;
}

.ui-layout-toggler-west{
    visibility: hidden !important;
}

.ui-layout-toggler {
    background-color: #BBBBBB;
    border: 1px solid #BBBBBB;
}

.ui-layout-toggler:hover{
    background-color: yellow;
    border: 1px solid yellow;
}

.ui-layout-resizer-west:hover{
    background-color:yellow;
}

.ui-state-focus{
    padding: 0;
    margin: 0;
}

.ui-widget {
    font-family: Arial,sans-serif;
    font-size: 0.8em;
}

#eventsTable_wrapper table.display {
    border-collapse: collapse;
    border: none;
    clear: both;
    margin: 0 auto;
    width: 100%;
}

#eventsTable_wrapper tr.odd {
    background-color: #111111;
}

#eventsTable_wrapper tr.even {
    background-color: #2B2B2B;
}