<div class='fieldsetDiv'>
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="ui-widget-header ui-corner-all">Addresses</legend>
			<div class='address ui-corner-all ui-widget-content'>
				<span class='bold'>Boonsboro</span><br>
				10 Campus Avenue<br>
				Boonsboro, MD 21713
			</div>
			<div class='address ui-corner-all ui-widget-content'>
				<span class='bold'>Brunswick Sports Complex</span><br>
				210 Thirteenth Avenue<br>
				Brunswick, MD 21716
			</div>
			<div class='address ui-corner-all ui-widget-content'>
				<span class='bold'>Brunswick High School</span><br>
				101 Cummings Drive<br>
				Brunswick, MD 21716
			</div>
			<div class='address ui-corner-all ui-widget-content'>
				<span class='bold'>Catoctin</span><br>
				Eyler's Field Park<br>
				Eyler Rd<br>
				Thurmont, MD 21787
			</div>
			<div class='address ui-corner-all ui-widget-content'>
				<span class='bold'>Frederick Cadets</span><br>
				McCurdy Field<br>
				209 S. Jefferson Street<br>
				Frederick, MD 21701
			</div>
			<div class='address ui-corner-all ui-widget-content'>
				<span class='bold'>Frederick Cadets High School</span><br>
				(Superbowl Only)<br>
				650 Carroll Parkway<br>
				Frederick, MD 21701
			</div>
			<div class='address ui-corner-all ui-widget-content'>
				<span class='bold'>FSK</span><br>
				Park Road<br>
				Taneytown, MD 21787
			</div>
			<div class='address ui-corner-all ui-widget-content'>
				<span class='bold'>FYSA</span><br>
				Tuscarora High School<br>
				5312 Ballenger Creek Pike<br>
				Frederick, MD 21703
			</div>
			<div class='address ui-corner-all ui-widget-content'>
				<span class='bold'>Gamber Deer Park</span><br>
				637 Deer Park Road<br>
				Westminster, MD 21157
			</div>
			<div class='address ui-corner-all ui-widget-content'>
				<span class='bold'>Middletown</span><br>
				200 Schoolhouse Dr<br>
				Middletown, MD 21769
			</div>
			<div class='address ui-corner-all ui-widget-content'>
				<span class='bold'>Mt Airy</span><br>
				1008 Twin Arch Road<br>
				Mt Airy, MD 21771
			</div>
			<div class='address ui-corner-all ui-widget-content'>
				<span class='bold'>Walkersville</span><br>
				9224 Devilbiss Bridge Road<br>
				Walkersville, MD 21793
			</div>
		</div>
	</fieldset>
</div>