<div class='fieldsetDiv'>
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="ui-widget-header ui-corner-all">Board Members</legend>
		<div><ul>
			<li><b>President</b> - Rob Myers
			<li><b>Vice President</b> - Dave Maze
			<li><b>Treasurer</b> - Sherry Myers
			<li><b>Secretary</b> - Nicole Burris
			<li><b>Membership Chair</b> - Lauren Healy
			<li><b>Cheerleading Coordinator</b> - Peggy Davis
			<li><b>Football Coordinator</b> - Jamie Sickeri
		</ul>
		</div>
	</fieldset>
</div>