<div class='fieldsetDiv'>
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="ui-widget-header ui-corner-all">Cheerleading News</legend>
		<div>
			<p>Welcome to the CYA Football Cheerleading Team web site.</p>
			
			<p>The CYA Cheerleading Team is a vital force in promoting cougar pride and 
			supporting all aspects of our program. The determination and discipline displayed 
			by the cheerleading team serves as an inspiration to the CYA Cougars and community at large. 
			CYA cheerleaders are expected to meet rigorous standards, both academically and in personal 
			conduct.</p>
			
			<p>We welcome your feedback in regard to improving our cheerleading program.<br>
			<i>Note:</i>Anyone interested in joining the CYA Cheerleading coaching staff must attend all 
			coaches meetings. <br><br>Please contact Peggy Davis for further information 
			at 
			
			<a class='important' href="mailto:peggydcyacheer@aol.com?Subject=CYA Cheerleading" target="_top">
			peggydcyacheer@aol.com</a>			
			
			</p>
		</div>
	</fieldset>
</div>