<div class='fieldsetDiv full-row'>
    <fieldset class="ui-widget ui-widget-content ui-corner-all">
        <legend class="ui-widget-header ui-corner-all">Announcements</legend>
        <div><ul>
                <li><b>Facebook</b> - For more information and pictures, check out the <a target="_blank" title="CYA Facebook Page" href="https://www.facebook.com/cyafootballcheer">CYA Facebook page.</a>			
                <li><b>CYA Football Monthly Meeting</b> - All meetings will be 
                    held on the second Tuesday of every Month at the Thurmont 
                    Ambulance Building. During the football season the meetings 
                    will start at 8:00pm. In the off season the meetings will 
                    start at 7:00pm. No meetings are held on December due to 
                    the Holidays.
            </ul></div>
    </fieldset>
</div>
<div class='fieldsetDiv full-row'>
    <fieldset class="ui-widget ui-widget-content ui-corner-all">
        <legend class="ui-widget-header ui-corner-all">Upcoming Events</legend>
        <div>
            <div class="container">
                <iframe src="https://www.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%233366ff&amp;src=cvmorroni%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" 
                        frameborder="0" allowfullscreen class="calendar"></iframe>
            </div> 
        </div>
    </fieldset>
</div>

<div class='fieldsetDiv full-row'>
    <fieldset class="ui-widget ui-widget-content ui-corner-all">
        <legend class="ui-widget-header ui-corner-all">Cougars in Action</legend>
        <div>
            <div id="wowslider-container1">
                <div class="ws_images">
                    <ul>
                        <li><img src="data1/images/dsc05484..png" alt="" title="" id="wows1_0"/></li>
                    </ul>
                </div>
                <div class="ws_bullets">
                    <div>
                        <a href="data1/images/dsc05484..png" title=""><img src="data1/tooltips/dsc05484..png" alt=""/>1</a>
                        <a href="data1/images/dsc05487..png" title="">2</a>
                        <a href="data1/images/dsc06445..png" title="">3</a>
                        <a href="data1/images/dsc06029..png" title="">4</a>
                        <a href="data1/images/dsc05993..png" title="">5</a>
                        <a href="data1/images/dsc05080..png" title="">6</a>
                        <a href="data1/images/dsc06524..png" title="">7</a>
                        <a href="data1/images/dsc05091..png" title="">8</a>
                        <a href="data1/images/dsc05395..png" title="">9</a>
                        <a href="data1/images/dsc04383..png" title="">10</a>
                        <a href="data1/images/dsc04370..png" title="">11</a>
                        <a href="data1/images/dsc04136..png" title="">12</a>
                        <a href="data1/images/dsc04380..png" title="">13</a>
                        <a href="data1/images/dsc05866..png" title="">14</a>
                        <a href="data1/images/dsc05873..png" title="">15</a>
                        <a href="data1/images/dsc05905_fans_blurred..png" title="">16</a>
                        <a href="data1/images/dsc05906_fans_blurred..png" title="">17</a>
                        <a href="data1/images/dsc05910..png" title="">18</a>
                    </div>
                </div>
            </div>	
            <script type="text/javascript" src="engine1/wowslider.js"></script>
            <script type="text/javascript" src="engine1/script.js"></script>
        </div>
    </fieldset>
</div>
<div class='fieldsetDiv halfs-left'>
    <fieldset class="ui-widget ui-widget-content ui-corner-all">
        <legend class="ui-widget-header ui-corner-all">Our Mascot</legend>
        <div id='cougarDiv'>
            <div id='cougarImg' class='imgDiv ui-corner-all ui-state-hover'>
                <img src='images/cougar.jpg' height='200' width='300' alt="Cougar" />
            </div>
            <div id='cougarTxt'>
                The Cougar is a large cat that lives in the Catoctin Mountains of 
                Thurmont. The Cougars are tawny-colored with black-tipped ears 
                and tail. The Cougar can run as fast as 30 mph (50 km/h), 
                jump 20 ft (6 m) from a standing position, vertically leap 
                8 ft (2.5 m), and often weigh more than 150 pounds (70 kg). 
                Their bite strength is more powerful than any domestic dog. 
                Cougars normally hunt Bulldogs, Titans, Eagles, Leopards, 
                Mustangs, Knights, Lions, Railroaders, Hubs, Rebels, Cadets 
                and Warriors. <p><i>So watch out MVAL folks, the Cougars are hungry 
                        and looking for their next prey.</i></p>
            </div>
            <div id='cougarGrowl'>
                <object id="dewplayer" width="200" height="20" data="http://static1.grsites.com/assets/flash/dewplayer/dewplayer.swf?mp3=http://static1.grsites.com/archive/sounds/animals/animals043.mp3" type="application/x-shockwave-flash">
                    <param value="transparent" name="wmode">
                    <param name="flashvars" value="autoplay=true">
                    <param value="http://static1.grsites.com/assets/flash/dewplayer/dewplayer.swf?mp3=http://static1.grsites.com/archive/sounds/animals/animals043.mp3" name="movie">
                </object>
            </div>
        </div>
    </fieldset>
</div>
<div class='fieldsetDiv halfs-right'>
    <fieldset class="ui-widget ui-widget-content ui-corner-all">
        <legend class="ui-widget-header ui-corner-all">The Cougar Motto</legend>
        <div>
            <ul>
                <li>To build and maintain a highly visible program that fosters 
                    the overall development of the athletes who participate. 
                <li>To utilize football and cheer as a unique tool in building 
                    young men and women of character, commitment, citizenship 
                    and accountability. 
                <li>To bolster an atmosphere of hard work, 
                    effort, camaraderie and discipline that permeates throughout 
                    our program.  
                <li>To accept the idea that we are a part of 
                    something that is bigger than us.
                <li>To create an environment 
                    conducive to making positive life choices.
                <li>To provide a true 
                    youth football and cheer feeder system for the Catoctin High 
                    School program to continually receive a wide base of 
                    fundamentally prepared young men and women both on and 
                    off the field.
            </ul>
        </div>
    </fieldset>
</div>