<div class='fieldsetDiv'>
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="ui-widget-header ui-corner-all">Wing Feed</legend>
		<div>
		    <p>Help fund our Catoctin Youth Football and Cheerleading by 
			purchasing a Wing Feed ticket.  This money goes toward items such as
			new safer equipment, referee payment, etc.  Anything and everything
			needed to help continue to provide the youth in our area with a 
			safe, enjoyable, and competitive football experience.</p>
			<p><span class='bold'>When:</span> 6pm - 10pm, May 3rd, 2014</p>
			<p><span class='bold'>Where:</span> Emmitsburg Fire Company</p>
			<p><span class='bold'>Price:</span> $20 Per Person</p>
			<span class='bulletTitle'>What's on the menu:</span>
			<ul>
			   <li>Wings
			   <li>Finger Foods
			   <li>Coleslaw
			   <li>Desserts
			   <li>Beer
			   <li>Soda
			</ul>
		</div>
	</fieldset>
	</br>
</div>