<div class='fieldsetDiv'>
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="ui-widget-header ui-corner-all">Punt Pass and Kick</legend>
		<div>
		    <p>Help fund our Catoctin Youth Football and Cheerleading by 
			purchasing by participating in this year's Punt Pass and Kick competition.  
			This year the competition is open to not only players, but everyone!  
			So call out your best bud or your parents or even your know it all sibling!!</p>
			
			<p>All you have to do is download the pledge form below and get folks to either donate money to CYA football or
			pledge money towards your participation in the competition.  See the flyer below for more information.</p>
			
			<p>Money raised from the competition goes toward items such as
			new safer equipment, referee payment, etc.  Anything and everything
			needed to help continue to provide the youth in our area with a 
			safe, enjoyable, and competitive football experience.</p>
			
			<p><span class='bold'>When:</span>Sunday, September 7th 1:00 pm-4:00 pm</p>
			<p><span class='bold'>Where:</span>Eyler Field</p>
			<p><span class='bold'>Price:</span>$10 Per Entry</p>
			
			<ul>
				<li class='important'><a target="_blank" href="docs/2015_punt_pass_kick.pdf">Punt, Pass, Kick Challenge Flier</a></li>
				<li class='important'><a target="_blank" href="docs/punt_pass_kick_pledge_sheet_2014.pdf">Pledge Sheet</a></li>
			</ul>
		</div>
	</fieldset>
	</br>
</div>