<div class='fieldsetDiv'>
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="ui-widget-header ui-corner-all">Registration for Football and Cheerleading</legend>
		<div style='padding-top: 5px;'>
			<h2>Catoctin Youth Football & Cheerleading Registration is now underway for the 2015 season!</h2>
			<span class='bold'>Registration Information:</span>
			<ul class='unorderedList'>
				<!--<li>$10.00 off for early registration through May 15th-->
				<li>Register online at <a target="_blank" href="http://stonealley.com/program/CNFOCH/group/FootballCheer">stonealley.com</a>
				<li>All registrations are being excepted online
				<li>In person registrations will be held @ Thurmont Ambulance Building (upstairs):
					<ul class='unorderedList'>
						<li>27 North Church Street Thurmont MD 21727
						<li>June 20th, 2015, from 9am until 3pm
						<li>June 28th, 2015, from 1pm until 4pm
					</ul>
				<li>Any registration received after June 28th will assessed a $20.00 late fee
				<li>Any questions please contact Rob or Sherry Myers: 
					<ul class='unorderedList'>
						<li>301-305-1016
						<li>301-447-3430
					</ul>
			</ul>
			<p class='bold'>Football Player Equipment Handout: Info Coming Soon</p>
			<!--<ul class='unorderedList'>
				<li>Held at Thurmont Middle School on Saturday July 26th, 2014
				<li>Mini Pony and Pony 9:00 am until 11:00 am
				<li>J.V. and Varsity 11:00am until 1:00pm
				<li><i>Note:</i> Flag players do not need to attend equipment handout
			</ul>-->
			<span class='bold'>First Day of Practice:</span>
			<ul class='unorderedList'>
				<li>July 20th, 2015 at 6:00pm 
				<li>Thurmont Middle  
					<ul>
						<li>Helmets only will be worn to this practice
						<li>Cheerleaders will need a towel and water bottle
					</ul>
				<li>All practices after this date will be up to each head coach
			</ul>
		</div>
	</fieldset>
</div>