<div class='fieldsetDiv'>
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="ui-widget-header ui-corner-all">Game Schedule</legend>
		<div>
		<p>Coming Soon</p>
		</div>
	</fieldset>
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="ui-widget-header ui-corner-all">Football Practice Schedule</legend>
		<div>
		<p>Coming Soon</p>
		</div>
	</fieldset>
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="ui-widget-header ui-corner-all">Cheerleading Practice Schedule</legend>
		<div>
		<p>Coming Soon</p>
		</div>
	</fieldset>
</div>