<div class='fieldsetDiv'>
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="ui-widget-header ui-corner-all">Football Team Pictures</legend>
		<div>
	<!-- Start WOWSlider.com BODY section -->
	<div id="wowslider-container13">
	<div class="ws_images"><ul>
<li><img src="data13/images/2013_varisty_800x500.png" alt="Varisty" title="Varisty" id="wows13_0"/>Head Coach Jamie Sickeri</li>
</ul></div>
<div class="ws_bullets"><div>
<a href="data13/images/2013_varisty_800x500.png" title="Varisty"><img src="data13/tooltips/2013_varisty_800x500.png" alt="Varisty"/>1</a>
<a href="data13/images/2013_jr_varisty_800x500.png" title="Jr Varisty">2</a>
<a href="data13/images/2013_pony_800x500.png" title="Pony">3</a>
<a href="data13/images/2013_mini_pony_800x500.png" title="Mini Pony">4</a>
<a href="data13/images/2013_flag_800x500.png" title="Flag">5</a>
</div></div>
<span class="wsl"><a href="http://wowslider.com">Slider Wordpress</a> by WOWSlider.com v4.9</span>
	<div class="ws_shadow"></div>
	</div>
	<script type="text/javascript" src="engine13/wowslider.js"></script>
	<script type="text/javascript" src="engine13/script.js"></script>
	<!-- End WOWSlider.com BODY section -->
		</div>
	</fieldset>
</div>