<div class='fieldsetDiv'>
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="ui-widget-header ui-corner-all">Weight Limits</legend>
		<div>
			<span class='bulletTitle'>Mini Pony:</span>
			<ul>
			   <li>0 to 85 lbs = ball carrier
			   <li>86 to 105 lbs = striper
			</ul>
			<span class='bulletTitle'>Pony:</span>
			<ul>
			   <li>(9 yrs old) 0 to 110 lbs = ball carrier
			   <li>(9 yrs old) 111 to 130 lbs = striper
			   <li>(10 yrs old) 0 to 110 lbs = ball carrier
			   <li>(10 yrs old) 111 to 130 lbs = striper
			</ul>
			<span class='bulletTitle'>JV:</span>
			<ul>
			   <li>(11 yrs old) 0 to 125 lbs = ball carrier
			   <li>(11 yrs old) 126 to 145 lbs = striper
			   <li>(12 yrs old) 0 to 125 lbs = ball carrier
			   <li>(12 yrs old) 126 to 145 lbs = striper
			   <li>(12 yrs old 8th grader) 0 to 105 lbs = ball carrier
			   <li>(12 yrs old 8th grader) 106 lbs to 125 lbs = striper
			</ul>
			<span class='bulletTitle'>Varsity:</span>
			<ul>
			   <li>(12 & 13 yrs old) 0 to 150 lbs = ball carrier
			   <li>(12 & 13 yrs old) 151 to unlimited lbs = striper
			   <li>(14 yrs old) 0 to 135 lbs = ball carrier
			   <li>(14 yrs old) 136 to unlimited lbs = striper
			</ul>
		</div>
	</fieldset>
	</br>
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="ui-widget-header ui-corner-all">FAQ</legend>
		<div>
			<p><span class='important bold'>What is a Striper?</span></br>A <i>Striper</i> is any player who 
			can only play tackle to tackle on Offense and Defense. This player can 
			not advance the ball on a fumble or be a ball carrier. A striper 
			can NOT be the last player on the offensive line. He must be covered 
			by another player. A striper can not be a linebacker, defensive back 
			or a defensive end.</p>
		</div>
	</fieldset>
</div>